export IAM_PORT=8080
export IAM_DB_URI="postgres://postgres@localhost/iam?sslmode=disable"
export IAM_MAX_DB_CONNECTIONS=50
export IAM_MAX_IDLE_DB_CONNECTIONS=5
export HASH_SALT="4$%10ABZX"
export CUSTOMER_MIGRATION_FILES="file://conf/customer_migrations/"
export IAM_MIGRATIONS_PATH="file://conf/iam_migration/"