IAM_PORT=8080
IAM_DB_URI=postgres://postgres:qwerty@db/iam?sslmode=disable
IAM_MAX_DB_CONNECTIONS=50
IAM_MAX_IDLE_DB_CONNECTIONS=5
HASH_SALT="4$%10ABZX"
CUSTOMER_MIGRATION_FILES=file://conf/customer_migrations/
IAM_MIGRATIONS_PATH=file://conf/iam_migration/